* {
    font-family: 'PTSans-Narrow', sans-serif;
    box-sizing: border-box;
}
body {
    height: 15000px;
}
nav {
    background-color: #FEFFFF;
    height: 130px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

.navbar-collapse {
   background: #FEFFFF;
}

#slider {
    margin-top: 130px;
}
.slider-image {
     filter: brightness(90%);
}

.slider-header {
    font-size: 3vw;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'PTSans-Narrow';
    padding: 0;
    margin: 0;
}
.slider-paragraph {
    font-family: 'PTSans-Narrow';
    text-transform: uppercase;
    font-size: 3vw;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    padding: 0;
    margin: 0;
}

#nav-animation, #nav-logo {
  transition: 0.4s;
}
#nav-logo {
    width: 150px;
}
.darbai-container {
background: linear-gradient(to right,  #f1f1f2 0%,#f1f1f2 50%,#d3e3e6 50%,#d3e3e6 100%);
}
 .btn {
    font-size: 50px;
    margin-bottom: 20px;
    color: #127985;
    border-color: #127985;
}
.btn-outline-dark {
    color: #127985!important;
    border-color: #127985!important;
}
.btn-outline-dark:hover {
    background: #127985!important;
    color: #FFFFFF!important;
}
.left-column {
    background-color: #f1f1f2;
    flex-shrink: 2
}
.right-column {
    background-color: #d3e3e6;
}
.left-column img, .right-column img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
}
.left-column h2, .right-column h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
}
.left-column p, .right-column p {
    text-align: center;
    font-size: 15px;
}
.left-column .btn, .right-column .btn {
  margin-left: auto;
  margin-right: auto;
}
