@font-face {
    font-family: 'PTSerif';
    src: url('PTSerif-Regular.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'PTSans-Narrow';
    src: url('PTSansNarrow-Regular.ttf');
    font-style: normal;
}

@font-face {
   font-family: 'PTSerif';
   src: url('PTSerif-Italic.ttf');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'PTSerif';
    src: url('PTSerif-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'PTSans-Narrow';
    src: url('PTSansNarrow-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PTSerif';
    src: url('PTSerif-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}
